* {
    box-sizing: border-box;
    background-color: rgb(15, 30, 50);
    color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  margin-right: 20px;
}

div {
  margin: 20px 0px;
}


label {
  font-size: 16px;
  line-height: 42px;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

main {
  margin: 20px;
  text-align: center;
}

.logo {
  height: 50px;
  margin: 30px;
}

.feedback > img {
  height: 50px;
}
