/*design for smartphones*/
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body {
    background: url('./photos-icons/boating-pic.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(1, 35, 35, .7);
    /* background-blend-mode: multiply; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
    margin: 25px 0px 5px;
  }

  h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 20px;
    padding: 16px 0px;
  }

  fieldset {
    border: none;
  }

  label {
    text-align: left;
    font-size: 16px;
    line-height: 1.6em;
    align-items: center;
    padding: 10px;
    margin: 16px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-radius: 5px;
    display: flex;
    transition: all .2s ease-out;
  }

  label.row1 {
    background-color: #067368;
  }

  label.row2 {
    background-color: #035959;
  }

  label.row3 {
    background-color: #035159;
  }

  label.row4 {
    background-color: #034959;
  }

  label.highlight {
    background-color: #b47b44;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  }

  label:hover, label:focus {
    background-color: #b47b44;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
     height: 18px;
     width: 18px;
     border: 2px solid white;
     color: #ffffff;
     border-radius: 50px;
     margin-right: 12px;
     flex: 0 0 auto;
  }

  input:checked::before {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    font: 20px/1 'roboto', sans-serif;
    left: 3.5px;
    bottom: 0.5px;
    background-color: none;
    color: #ffffff;
    content: '\02143';
    transform: rotate(40deg);
  }

  button {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    padding: .5em 2.1em .5em 1.5em;
    margin: 1.2em;
    border-radius: 5px;
    transition: all .2s ease-out;
  }

  button:hover, button:focus {
    position:relative;
    font-size: 1.1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
  }

  button::after {
    content: ">>";
    color: #235456;
    position: absolute;
    right: -20px;
    transition: .2s;
    opacity: 0;
  }

  button:hover:after, button:focus::after {
    opacity: 1;
    right: 8px;
  }

  ul {
    padding: 10px;
  }

  li {
    display: inline-block;
    margin: 0px 20px 20px 20px;
  }

  img.logo {
    margin: 30px auto;
    max-height: 55px;
    display: block;
  }

  p.question {
    text-align: left;
    padding: 20px 40px 10px;
    font-size: 18px;
  }

  .start-button, .restart-button {
    color: #9F6C32;
    background-color: white;
    border: none;
  }

  .submit-button, .next-button {
    color: #9F6C32;
    background-color: #FFFFFF;
    border: none;
  }


  .feedback {
    background-color: rgba(3, 73, 89, .9);
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    margin: 0px 30px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-radius: 5px;
  }

  .feedback > img {
    height: 45px;
    width: auto;
  }

  .quiz-section {
    display: none;
  }


/*design for tablets*/
@media (min-width: 768px) {

  header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  img.logo {
    max-height: 55px;
    display: inline-block;
    margin: 30px;
  }

  button.start-button {
    margin-top: 45px;
  }

}

/*design for laptops*/
@media (min-width: 1024px) {

  body {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    /* font-size: 18px; */
  }

  div.feedback {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  p.question {
    font-size: 20px;
  }

  label {
    font-size: 18px;
  }

  button {
    font-size: 18px;
  }
