* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/Users/stix/lydia_web_development/Projects/quiz-app-boating/photos-icons/boatingpic2.jpg');
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  background-color: #0F1E32;
  font-size: 16px;
}


img.logo {
  margin: 50px auto;
  max-height: 80px;
  display: block;
}

h1 {
  font-size: 20px;
  padding: 25px 25px;
}

.stats {
  display: inline-block;
  padding: 0px 25px 35px;
}

.start-button {
  font-size: 20px;
  font-weight: bold;
  color: #B47B44;
  line-height: 28px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.start-button:hover{
  font-size: 20.5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

/*Q/A form styles*/

.quiz-form {
  display: none;
}

input[radio] {

}

fieldset {
  border: none;
}

label {
  font-size: 16px;
  line-height: 42px;
  margin: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

label.row1 {
  background-color: rgba(59, 140, 145 ,1);
}

label.row2 {
  background-color: #347c81;
}

label.row3 {
  background-color: #296165;
}

label.row4 {
  background-color: #235456;
}

label.highlight {
  background-color: #b47b44;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

label:hover, label:focus {
  background-color: #b47b44;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input[type="radio"] {
  flex: 0 0 auto;
    margin: auto 15px;
}

.submit-button {
  font-size: 16px;
  font-weight: bold;
  color: rgba(15, 30, 50, 1);
  line-height: 28px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #e0ecde;
  border: none;
}

.submit-button:hover, .submit-button:focus {
  color: rgba(15, 30, 50, 1);
  background-color: #eac77d;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}
